body {
    background-color: #000000;
    min-height: 400px;
    margin-bottom: 20px;
    clear: both;
}

nav {
    color:#000000;
    background-color: #FFFFFF;
}

header {
    color: #FFFFFF;
}

main {
    color:#FFFFFF;
}

footer {
    color: #000000;
    background-color: #FFFFFF;
}

span {
    color: #FC3D21;
}

.container {
   position: relative;
   text-align: center;
   color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-top {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-image {
    background-image:url(/assets/Earth-Space.jpg);
    height: 100vh;
    width: auto;
    background-position: center;
}

/* Button */

.btn-border {
    border: 2px solid black;
}

.btn-blue {
    border-color: #0B3D91;
    color: #FFFFFF;
    background: #000000;
}

.btn-blue:hover {
    background: #0B3D91;
    color: #FFFFFF;
}

/* Card */

.card {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #0B3D91;
    border-width: 3px;
    height: 100%;
}
.card-footer {
    background-color: #FFFFFF;
}

.sidebar {
    position: fixed;
    right: 0;
}

/* Border */

.border {
    border-color: #0B3D91 !important;
}

.border-top {
    border-color: #0B3D91 !important;
}

.border-end {
    border-color: #0B3D91 !important;
}

.border-bottom {
    border-color: #0B3D91 !important;
}

.border-start {
    border-color: #0B3D91 !important;
}