nav {
    color:#000000;
    background-color: #FFFFFF;
}
main {
    color:#FFFFFF;
    background-color:#000000;
}
footer {
    color: #000000;
    background-color: #FFFFFF;
}
.border-blue {
    border-color:#0B3D91 ;
}